        <mj-column background-color="white" width="94%">
        <mj-divider border-width="2px" width="350px" border-style="solid" border-color="lightgrey" />
      </mj-column>
     <mj-column background-color="white" width="94%">
        <mj-text align="center" font-weight="500" font-size="20px">Get Donatella App</mj-text>
      </mj-column>

      <mj-column  background-color="white" width="94%">
      <mj-text font-weight="350" letter-spacing="1px" line-height="20px" align="center" >
       Access to top industry professionals, Connecting with experienced talent on our platform empowers you with valuable insights and mentorship, helping you elevate your creative career and unlock new opportunities.
        </mj-text>
      </mj-column>

      <mj-group background-color="white" width="94%" css-class="main-group">
      <mj-column background-color="white" width="60%">
              <mj-image
         src="https://beta-api.caterk.com/assets/images/image1.png" alt="image"
         height="180px"
         padding="0"
         border-radius="8px"
         align="left"
         padding-left="25px"
         css-class="image"
         padding-top="0px"
         >
        </mj-image>

        <mj-group width="400px" padding="10px 0 0 25px">

          <mj-column width="150px" >
          <mj-image
         src="https://beta-api.caterk.com/assets/images/image2.png" alt="image"
         height="170px"
         padding="0 0 0 0"
         border-radius="8px"
         width="150px"
         >
        </mj-image>
         </mj-column>

         <mj-column width="160px">
          <mj-image
         src="https://beta-api.caterk.com/assets/images/image3.png" alt="image"
         height="170px"
         padding="0 0 0 10px"
         border-radius="8px"
         width="150px"
         >
        </mj-image>
        </mj-column>

        </mj-group>
      </mj-column>
            <mj-column background-color="white" padding="0 0 0 0" width="40%">
               <mj-image
         src="https://beta-api.caterk.com/assets/images/Home.png" alt="image"
         height="360px"
         padding="0 0 0 0 "
         padding-bottom="0px"
         border-radius="8px"
         width="200"
         >
        </mj-image>
      </mj-column>
      </mj-group>


       <mj-group width="94%" background-color="white">
    <mj-column padding-top="20px">
        <mj-image src="https://beta-api.caterk.com/assets/images/Social-Icon-Link.png" alt="App Store Button" href="https://appstore-link.com" width="93.5px" height="27.5px" padding-right="10px" align="right" border-radius="8px"/>
            </mj-column>
      <mj-column padding-top="20px">
      <mj-image src="https://beta-api.caterk.com/assets/images/Social-Icon-Link-(1).png" alt="Google Play Button" href="https://playstore-link.com" width="93.5px" height="27.5px" padding-left="10px" align="left" border-radius="8px"/>
      </mj-column>
        </mj-group>
      <mj-column width="94%" background-color="white">
              <mj-divider padding-top="30px" border-width="2px" width="500px" border-style="solid" border-color="lightgrey" />
      </mj-column>
      <mj-group width="94%" background-color="white">
      <mj-column>
               <mj-image src="https://beta-api.caterk.com/assets/images/Frame-1820549462-(1).png" alt="Caterk logo" width="210px" height="40px" padding-left="40px" align="left" />
        <mj-text padding-left="40px" font-weight="300" letter-spacing="0px">
           @2024 caterk
        </mj-text>
         <mj-text padding-left="40px" font-weight="300" letter-spacing="0px">
           <a href="" style="color:#003D25">About us</a>
           <br/>
           <br/>
           <a href="" style="color:#003D25">Cater with us</a>
        </mj-text>
      </mj-column>
        <mj-column>
        <mj-social font-size="15px" icon-size="20px" align="center" color="#ffffff" padding-left="110px">
          <mj-social-element src="https://beta-api.caterk.com/assets/images/Social-Icon-Link-(5).png" href="https://instagram.com/caterk" />
          <mj-social-element src="https://beta-api.caterk.com/assets/images/Social-Icon-Link-(4).png" href="https://facebook.com/caterk" />
          <mj-social-element src="https://beta-api.caterk.com/assets/images/Social-Icon-Link-(3).png" href="https://twitter.com/caterk" />
          <mj-social-element src="https://beta-api.caterk.com/assets/images/Social-Icon-Link-(2).png" href="https://youtube.com/caterk"/>
        </mj-social>
         <mj-text padding-left="140px" font-weight="300" letter-spacing="0px">
           <a href="" style="color:#003D25;">Privacy Policy</a>
           <br/>
           <br/>
           <a href="" style="color:#003D25;">Terms & Condition</a>
           <br/>
           <br/>
           <a href="" style="color:#003D25">Contact us</a>
        </mj-text>
        </mj-column>
      </mj-group>
      <mj-column width="94%" background-color="white">
      </mj-column>
          <mj-column width="94%" background-color="white" border-radius= "0 0 20px 20px">
                          <mj-text padding-left="40px" font-weight="10" font-size="12px" letter-spacing="0px">
          Notable at the touch of a button! Download our app for Google & Mac
        </mj-text>
      <mj-group width="94%" background-color="white" padding="0 0 0 0px">
    <mj-column padding-top="20px" width="140px" padding="0 0 0 40px">
        <mj-image src="https://beta-api.caterk.com/assets/images/Social-Icon-Link.png" alt="App Store Button" href="https://appstore-link.com" width="120px" height="30px" padding="0" padding-left="0px" border-radius="8px"/>
            </mj-column>
      <mj-column padding-top="20px" width="120px" padding="0 0 0 10px">
      <mj-image src="https://beta-api.caterk.com/assets/images/Social-Icon-Link-(1).png" alt="Google Play Button" href="https://playstore-link.com" width="120px" height="30px"  padding="0" padding-right="0px" border-radius="8px" />
      </mj-column>
      </mj-group>

      <mj-text padding-left="40px" font-weight="10" font-size="11px" line-height="17px" letter-spacing="0px" padding-top="20px">
          Capture Your Story. Find models, photographers, videographers, and editors who can tell it best.
        </mj-text>

       <mj-text align="center" font-weight="10" color="gray" padding-bottom="30px">
          Copyright @ 2024
       </mj-text>
      </mj-column>

    </mj-section>
     </mj-wrapper>
  </mj-body>
</mjml>
